.task {
    height: 82.49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #25273C;
    padding-left: 20px;
    padding-right: 20px;
}


.task__text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;
    letter-spacing: 0.1em;
    color: rgba(249, 254, 255, 0.7);
    margin-left: 20px; 
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 700px;
}

.task__text_done {
    text-decoration: line-through;
    text-decoration-line: 2.5px;
    text-decoration-style: solid;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

.task__button-container {
    display: flex;
    justify-content: space-around;
}


.task__button {
    width: 42px;
    height: 41px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.task__button:hover {
    opacity: 0.5;
}


.task__button:nth-of-type(1) {
    background-image: url(../../images/EditTask-min.svg);
    background-size: cover;
}

.task__button:nth-of-type(2) {
    background-image: url(../../images/Delete\ Task-min.svg);
    background-size: cover;
}


.task__check {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 48px;
    height: 44px;
    border: 0.15em solid #BF56FF;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

.task__check::before {
    content: "";
    width: 48px;
    height: 44px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background:  linear-gradient(111.35deg, #E600FA 10.12%, rgba(82, 97, 234, 0) 82.22%);
    border-radius: 50%;
    border: none;
    background-image: url(../../images/Check\ True-min.svg);
}


.task__check:checked::before {
    transform: scale(1);
}

.task__check:hover {
    opacity: 0.7;
}


.task__check_important {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 33px;
    height: 40px;
    border: none;
    place-content: center;
    cursor: pointer;
    background-image: url(../../images/empty-flag-512.png);
    background-size: cover;
    display: block;
}

.task__check_important:checked {
    content: "";
    width: 33px;
    height: 40px;
    border: none;
    place-content: center;
    background-image: url(../../images/filled-flag-512.png);

    background-size: cover;
    display: block;
}


.task__check_important:hover {
    opacity: 0.7;
}


@media (max-width: 1150px) {
    .task__text {
        width: 600px;
    }
}

@media (max-width: 1116px) {
    .task__text {
        width: 500px;
    }
}

@media (max-width: 922px) {
    .task__text {
        font-size: 20px;
        width: 420px;
    }
}


@media (max-width: 740px) {
    .task__text {
        width: 400px;
    }
}

@media (max-width: 668px) {
    .task__text {
        width: 350px;
    }
}

@media (max-width: 600px) {
    .task__text {
        width: 300px;
    }
}

@media (max-width: 550px) {
    .task__text {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .task {
        padding-left: 10px;
        padding-right: 10px;
        height: 60px;
    }
    
    .task__text {
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.1em;
        color: rgba(249, 254, 255, 0.7);
        margin-left: 20px;
}

    .task__check {
        width: 30px;
        height: 28px;
    }

    .task__check::before {
        width: 30px;
        height: 28px;
        background-size: cover;
}

    .task__button {
        width: 30px;
        height: 30px;
        background-size: contain;
    }

    .task__check_important {
        width: 30px;
        height: 30px;
    }

    .task__check_important:checked {
        width: 30px;
        height: 30px;
    }

    .task__text {
        width: 220px;
    }
}

@media (max-width: 416px) {
    .task__text {
        width: 185px;
        font-size: 15px;
    }
}


@media (max-width: 367px) {
    .task__text {
        width: 170px;
    }
}


@media (max-width: 340px) {
    .task__text {
        width: 140px;
    }
}