.error-message__text {
    font-size: 20px;
    line-height: 12px;
    color: #fafafa;
    visibility: hidden;
    height: 10px;
    width: 10px;
    opacity: 0;
    align-self: center;
}

.error-message__text_visible {
    visibility: visible;
    opacity: 100%;
    color: #ee3465;
    display: inline;
}