.task-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 68.56px;
    margin-top: 58px;
}

.task-input__container {
    width: 52%;
    height: 100%;
}

.task-input__container-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.task-input__input {
    background-color: #25273C;
    border-radius: 30px;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 33px;

    font-size: 25px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.7);
}

.task-input__input::placeholder {
    font-size: 25px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.7);
}

.task-input__button {
    width: 110.43px;
    height: 68.56px;
    border: none;
    background-color: transparent;
    background-image: url(../../images/ArrowButton-min.svg);
    position: absolute;
    right: 1px;
    cursor: pointer;
}

.task-input__button:hover {
    opacity: 0.5;
}

@media (max-width: 1300px) {
    .task-input__container {
        width: 70%;
    }
}


@media (max-width: 625px) {
    .task-input__container {
        width: 90%;
    }
}