.td-page__title {
    font-size: 96px;
    color:#FFFFFF;
    letter-spacing: 0.1em;
    font-weight: 400;
    line-height: 156px;
    margin-left: 59px;
    padding-top: 13px;
}

.td-page__button-container {
    margin-top: 118px;
    padding-bottom: 62px;
    display: flex;
    justify-content: space-around;
}

.td-page__button_add {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background-image: url(../../images/AddButton-min.svg);
    background-color: transparent;
    cursor: pointer;
}

.td-page__button_add:hover {
    opacity: 0.5;
}

.td-page__button_clear {
    width: 335px;
    height: 60px;
    background-color: #25273C;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.1em;
    border-radius: 60px;
    border: 2px solid #AD02FE;
    cursor: pointer;
}

.td-page__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.td-page__button_clear:hover {
    opacity: 0.5;
}

.td-page__rewards {
    background-image: url(../../images/trophy-4-128.png);
    background-size: contain;
    width: 85px;
    height: 85px;
    background-color: transparent;
    border: none;
    margin-right: 59px;
    cursor: pointer;
}

.td-page__rewards:hover {
    opacity: 0.5;
}

@media (max-width: 500px) {
    .td-page__title  {
        font-size: 40px;
        line-height: 65px;
        letter-spacing: 0.1em;
        margin-left: 21px;
        padding-top: 9px;
    }

    .td-page__button_clear {
        width: 195px;
        height: 60px;
        font-size: 20px;
        line-height: 33px;
    }
}