.td-page__title {
    font-size: 96px;
    color:#FFFFFF;
    letter-spacing: 0.1em;
    font-weight: 400;
    line-height: 156px;
    margin-left: 59px;
    padding-top: 13px;
}

.td-page__button-container {
    margin-top: 80px;
    padding-bottom: 62px;
    display: flex;
    justify-content: space-around;
}

.td-page__button_add {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background-image: url(../../images/AddButton-min.svg);
    background-color: transparent;
    cursor: pointer;
}

.td-page__button_add:hover {
    opacity: 0.5;
}

.td-page__button_clear {
    width: 335px;
    height: 60px;
    background-color: #25273C;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.1em;
    border-radius: 60px;
    border: 2px solid #AD02FE;
    cursor: pointer;
}

.td-page__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.td-page__important-container {
    display: flex;
    align-items: center;
    margin-top:  50px;
}

.td-page_important {
    font-size: 30px;
    letter-spacing: 0.1em;
    margin-right: 10px;
    margin-top: 10px;
}

.td-page__button_clear:hover {
    opacity: 0.5;
}

.td-page__rewards-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 59px;
}

.td-page__rewards {
    background-image: url(../../images/trophy-4-128.png);
    background-size: contain;
    width: 85px;
    height: 85px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.td-page__rewards:hover {
    opacity: 0.5;
}

.td-page__rewards-count-container {
    background-color: #525BB7;
    width: auto;
    height: auto;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
}

.td-page__rewards-count {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: rgba(249, 254, 255, 0.7);
}

@media (max-width: 700px) {
    .td-page__title-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .td-page__title {
        margin: 0;
    }

    .td-page__rewards-container {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .td-page__title  {
        font-size: 40px;
        line-height: 65px;
        letter-spacing: 0.1em;
        padding-top: 9px;
    }

    .td-page__button_clear {
        width: 195px;
        height: 60px;
        font-size: 20px;
        line-height: 33px;
    }

    .td-page__rewards {
        width: 60px;
        height: 60px;
    }

    .td-page__rewards-count {
        font-size: 15px;
    }
}