p, h1, h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.App {
    background-color: #181824;
}

.copyright {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}