.important-list__title-container {
    width: 60vw;
    height: 82px;
    text-align: center;
    margin: auto;
    background-color: #525BB7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.important-list__title {
    font-size: 32px;
    line-height: 52px;
    align-items: center;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 800px) {
    .important-list__title-container {
        margin-top: 100px;
    } 
}

@media (max-width: 600px) {
    .important-list__title-container {
        margin-top: 62px;
        height: 54px;
    } 

    .important-list__title {
        font-size: 20px;
        line-height: 33px;
    }
}