@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

#root {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Monda Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100vh;
    background-color: #181824;
    color:#F9FEFFB2;
    margin: 0;
    padding: 0;
}