.task-list {
    display: grid;
    row-gap: 27px;
    column-gap: 20px;
    align-self: center;
    width: 70vw;
    margin: auto;
    margin-top: 80px;
}

.task-list__image-container {
    display: flex;
    margin-top: 80px;
    align-self: center;
}

.task-list__image {
    margin: auto;
    align-self: center;

}

@media (max-width: 800px) {
    .task-list {
        width: 80vw;
    }
}

@media (max-width: 500px) {
    .task-list {
        margin-top: 40px;
    }


    .task-list__image-container {
        margin-top: 30px;
    }

    .task-list__image {
        width: 65%;
    }
}